<div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
        <div class="card h-100 py-2">
            <div class="card-body pb-4">
                <mat-icon aria-hidden="false">attach_money</mat-icon>
                <h4 class="card-title fw-bold">cotação</h4>
                <p class="card-text">Veja nossas cotações por segmento</p>
                <a [routerLink]="['/']" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 py-2">
            <div class="card-body pb-4">
                <mat-icon aria-hidden="false">euro</mat-icon>
                <h4 class="card-title fw-bold">moedas</h4>
                <p class="card-text">Cadastre novas moedas estrangeiras</p>
                <a [routerLink]="['/moedas']" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 py-2">
            <div class="card-body pb-4">
                <mat-icon aria-hidden="false">segment</mat-icon>
                <h4 class="card-title fw-bold">segmentos</h4>
                <p class="card-text">Defina a taxa por segmento</p>
                <a [routerLink]="['/segmentos']" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>